# Uncomment if you need these shortcuts

'body':
  'cmd+j': 'core:copy'
  'cmd-q': 'unset!'
  'cmd+q': 'core:cut'
  'cmd+k': 'core:paste'
  'cmd+o': 'unset!'
  'cmd+o': 'core:save'
  'cmd-;': 'core:undo'
  'cmd+,': 'core:close'
  'shift-cmd-;': 'core:redo'
  'cmd-,': 'core:close'
  'cmd-k alt-cmd-w': 'unset!'
  'cmd-k cmd-down': 'unset!'
  'cmd-k cmd-left': 'unset!'
  'cmd-k cmd-n': 'unset!'
  'cmd-k cmd-p': 'unset!'
  'cmd-k cmd-right': 'unset!'
  'cmd-k cmd-up': 'unset!'
  'cmd-k cmd-w': 'unset!'
  'cmd-k down': 'unset!'
  'cmd-k alt-cmd-w': 'unset!'
  'cmd-k up': 'unset!'
  'cmd-k right': 'unset!'
  'cmd-k left': 'unset!'
  # 'cmd-r alt-cmd-w':	'pane:close-other-items'
  # 'cmd-r cmd-down': 'window:focus-pane-below'
  # 'cmd-r cmd-left': 'window:focus-pane-on-left'
  # 'cmd-r cmd-n': 'window:focus-next-pane'
  # 'cmd-r cmd-p': 'window:focus-previous-pane'
  # 'cmd-r cmd-right': 'window:focus-pane-on-right'
  # 'cmd-r cmd-up': 'window:focus-pane-above'
  # 'cmd-r cmd-w': 'pane:close'
  # 'cmd-r down': 'pane:split-down'
  # 'cmd-r alt-cmd-w': 'pane:close-other-items'
  # 'cmd-r up': 'pane:split-up'
  # 'cmd-r right': 'pane:split-right'
  # 'cmd-r left': 'pane:split-left'

'.platform-darwin atom-text-editor':
  'cmd-u': 'unset!'
  'cmd-e': 'unset!'

'atom-text-editor':
  'cmd-k cmd-l': 'unset!'
  'cmd-k cmd-u': 'unset!'
  # 'cmd-r cmd-l': 'editor:lower-case'
  # 'cmd-r cmd-u': 'editor:upper-case'


'atom-workspace atom-text-editor:not([mini])':
    'cmd+e': 'editor:duplicate-lines'
    'cmd+j': 'unset!'
    'cmd-k cmd-0': 'unset!'
    'cmd-k cmd-1': 'unset!'
    'cmd-k cmd-2': 'unset!'
    'cmd-k cmd-3': 'unset!'
    'cmd-k cmd-4': 'unset!'
    'cmd-k cmd-5': 'unset!'
    'cmd-k cmd-6': 'unset!'
    'cmd-k cmd-7': 'unset!'
    'cmd-k cmd-8': 'unset!'
    'cmd-k cmd-9': 'unset!'
    # 'cmd-r cmd-0': 'editor:unfold-all'
    # 'cmd-r cmd-1': 'editor:fold-at-indent-level-1'
    # 'cmd-r cmd-2': 'editor:fold-at-indent-level-2'
    # 'cmd-r cmd-3': 'editor:fold-at-indent-level-3'
    # 'cmd-r cmd-4': 'editor:fold-at-indent-level-4'
    # 'cmd-r cmd-5': 'editor:fold-at-indent-level-5'
    # 'cmd-r cmd-6': 'editor:fold-at-indent-level-6'
    # 'cmd-r cmd-7': 'editor:fold-at-indent-level-7'
    # 'cmd-r cmd-8': 'editor:fold-at-indent-level-8'
    # 'cmd-r cmd-9': 'editor:fold-at-indent-level-9'


'.platform-darwin':
    'cmd-k cmd-b': 'unset!'
    'cmd-u': 'find-and-replace:show'
    'shift-cmd-U': 'project-find:show'
    # 'cmd-r cmd-b': 'tree-view:toggle'

'.platform-darwin atom-text-editor':
    'cmd-k cmd-d': 'unset!'
    # 'cmd-r cmd-d': 'find-and-replace:select-skip'

'.platform-darwin .tree-view':
    'cmd-k down': 'unset!'
    'cmd-k h': 'unset!'
    'cmd-k j': 'unset!'
    'cmd-k k': 'unset!'
    'cmd-k l': 'unset!'
    'cmd-k left': 'unset!'
    'cmd-k right': 'unset!'
    'cmd-k up': 'unset!'
    # 'cmd-r down': 'tree-view:open-selected-entry-down'
    # 'cmd-r h': 'tree-view:open-selected-entry-left'
    # 'cmd-r j': 'tree-view:open-selected-entry-down'
    # 'cmd-r k': 'tree-view:open-selected-entry-up'
    # 'cmd-r l': 'tree-view:open-selected-entry-right'
    # 'cmd-r left': 'tree-view:open-selected-entry-left'
    # 'cmd-r right': 'tree-view:open-selected-entry-right'
    # 'cmd-r up': 'tree-view:open-selected-entry-up'
